---
import Container from "../components/Container.astro";
import InfoForm from "../components/InfoForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Send letters to Congress">
  <Container class="py-4">
    <img src="https://place.dog/500/280" class="w-full" />
    <h1>Write letters to Congress</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <InfoForm client:load />
  </Container>
</Layout>
